<div class="container">
    <div class="row">
    	<div class="col-xs-offset-2">
		    	<h3 class="col-xs-offset-2">「ながのCAKE」へようこそ！</h3><br>
		    	    <h4 class="col-xs-offset-2">当店について</h4>
		    	    <p>「ながのCAKE」は長野県で愛されてきた小さな洋菓子店です。</p>
		    	    <p>ご好評につき、この度オンラインでもお買い求めいただけるようになりました！</p>
		    	    <p>一度は味わってみたい特別なスイーツとして、お贈り物にはもちろん、ご自宅用にもおすすめです。</p>
		    	    <p>店舗販売に加え、オンラインでも当店の商品をぜひご利用ください！</p>
		    	    <br>
		    	    <br>
		    	    <p>お問い合わせ</p>
		    		<p>【TEL】 0120-777-777（10:00〜18:00) 年中無休</p>
		    		<p>商品のご購入・お問い合わせなどお気軽にご連絡ください。</p>
		    		<p>【住所】〒000-7777 長野県長野市伊勢町7丁目7番7号</p>
		    		<p>【送料】 全国一律　800円</p>
        </div>
    </div>
</div>