// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.btn-customeredit{
	
	mergin-right:50px ;
}

.table tr,th,td{
	border-top: 0px !important;
 	border-bottom: 0px !important;
}

table th{
	width:150px ;
}