
<div class='row'>
 <div class='col-xs-3'>

<% @genres.each do |genre| %>
<% link_to genre.name, "/products/genre_products/#{genre.id}" %>
<% end %>

<div class='col-xs-9'>
<h3>ようこそ、NaganoCakeへ！
このサイトは、ケーキ販売のECサイトになります。
会員でない方も商品の閲覧はできますが、
購入には会員登録が必要になります。
</h3>
</div>
</div>