<div class="footer">
	<div class="container">
		<h4><%= link_to "-店舗情報ご案内-",home_about_path,:style=>"color:green;" %></h4>
		<h4>あなたとあなたの大切な方へ　　　　©CopyRight　　ながのCAKE　 All Rights Reserved.</h4>
	</div>
</div>
